
*.root
*.mat
Runs/DetTests_RALPlastic_QUBGP/scripts_mono/.DS_Store
Runs/DetTests_RALPlastic_QUBGP/.DS_Store
Runs/RALPlastic_QUBGP/data/.DS_Store
Runs/RALPlastic_QUBGP/scripts_mono/.DS_Store
*.o
*.o
data/2015Mangles_vertdiv_Dec18/.DS_Store
data/2015Mangles_vertdiv_hordiv_Dec18/.DS_Store
data/2019RRFeb_JenaStack_dualaxis_mono_fixed/.DS_Store
*.root
src/.DS_Store
.DS_Store
100
*.root
data/Gamma_010MeV.root
CMakeFile/
CMakeFiles/Progress (1)/1
CMakeFiles/Progress (1)/2
CMakeFiles/Progress (1)/3
CMakeFiles/Progress (1)/4
CMakeFiles/Progress (1)/count.txt
CMakeFiles/Progress (2)/1
CMakeFiles/Progress (2)/2
CMakeFiles/Progress (2)/3
CMakeFiles/Progress (2)/count.txt
CMakeFiles/Progress (3)/1
CMakeFiles/Progress (3)/2
CMakeFiles/Progress (3)/3
CMakeFiles/Progress (3)/4
CMakeFiles/Progress (3)/count.txt
CMakeFiles/QED.dir/cmake_clean.cmake
CMakeFiles/QED.dir/CXX.includecache
CMakeFiles/QED.dir/QED.cc.o
CMakeFiles/QED.dir/src/B1ActionInitialization.cc.o
CMakeFiles/QED.dir/src/B1DetectorConstruction.cc.o
CMakeFiles/QED.dir/src/B1EventAction.cc.o
CMakeFiles/QED.dir/src/B1RunAction.cc.o
CMakeFiles/QED.dir/src/B1SteppingAction.cc.o
CMakeFiles/QED.dir/src/HistoManager.cc.o
CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.12.3/CompilerIdC/a.out
CMakeFiles/3.12.3/CompilerIdCXX/a.out
CMakeFiles/3.4.2/CMakeCCompiler.cmake
CMakeFiles/3.4.2/CMakeCXXCompiler.cmake
CMakeFiles/3.4.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.4.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.4.2/CMakeSystem.cmake
CMakeFiles/3.4.2/CompilerIdC/a.out
CMakeFiles/3.4.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.4.2/CompilerIdCXX/a.out
CMakeFiles/3.4.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.7.2/CMakeCCompiler.cmake
CMakeFiles/3.7.2/CMakeCXXCompiler.cmake
CMakeFiles/3.7.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.7.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.7.2/CMakeSystem.cmake
CMakeFiles/3.7.2/CompilerIdC/a.out
CMakeFiles/3.7.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.7.2/CompilerIdCXX/a.out
CMakeFiles/3.7.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeOutput.log
CMakeFiles/feature_tests.bin
CMakeFiles/feature_tests.c
CMakeFiles/feature_tests.cxx
CMakeFiles/QED.dir/cmake_clean.cmake
CMakeFiles/QED.dir/CXX.includecache
CMakeFiles/QED.dir/QED.cc.o
CMakeFiles/QED.dir/src/B1ActionInitialization.cc.o
CMakeFiles/QED.dir/src/B1DetectorConstruction.cc.o
CMakeFiles/QED.dir/src/B1EventAction.cc.o
CMakeFiles/QED.dir/src/B1RunAction.cc.o
CMakeFiles/QED.dir/src/B1SteppingAction.cc.o
CMakeFiles/QED.dir/src/HistoManager.cc.o
CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.12.3/CompilerIdC/a.out
CMakeFiles/3.12.3/CompilerIdCXX/a.out
CMakeFiles/3.4.2/CMakeCCompiler.cmake
CMakeFiles/3.4.2/CMakeCXXCompiler.cmake
CMakeFiles/3.4.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.4.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.4.2/CMakeSystem.cmake
CMakeFiles/3.4.2/CompilerIdC/a.out
CMakeFiles/3.4.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.4.2/CompilerIdCXX/a.out
CMakeFiles/3.4.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.7.2/CMakeCCompiler.cmake
CMakeFiles/3.7.2/CMakeCXXCompiler.cmake
CMakeFiles/3.7.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.7.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.7.2/CMakeSystem.cmake
CMakeFiles/3.7.2/CompilerIdC/a.out
CMakeFiles/3.7.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.7.2/CompilerIdCXX/a.out
CMakeFiles/3.7.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeOutput.log
CMakeFiles/feature_tests.bin
CMakeFiles/feature_tests.c
CMakeFiles/feature_tests.cxx
data/Gamma_010MeV.root
*.mac
*.out
*.bin
*.cmake
